section#contact {
    background-color: #f7f7f7;
    padding: 60px;

    // Breakpoint for responsive design
    @media screen and (max-width: 550px) {
        padding: 60px 40px;
    }

    & div.container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        column-gap: 30px;

        & h4 {
            font-size: 8rem;
            font-weight: 500;
            font-family: var(--font-primary);
            text-transform: uppercase;
            text-align: center;
            line-height: 1;
            color: var(--color-primary);
        }

        & form.form-contact {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            padding: 30px 0;

            & input {
                border: none;
                background-color: transparent;
                font-size: 1.6rem;
                padding:10px;
                font-weight: 400;
                font-family: var(--font-secondary);
                width: calc(100% / 2 - 15px);
                border-bottom: 2px solid var(--color-primary);
                transition: all 200ms ease;

                &::placeholder {
                    color: var(--color-black);
                }

                &:focus {
                    outline: none;
                    border-bottom: 2px solid var(--color-secondary);

                    &::placeholder {
                        color: var(--color-secondary);
                    }
                }
                
                // Breakpoint for responsive design
                @media screen and (max-width: 550px) {
                    width: 100%;
                }
            }

            & textarea {
                width: 100%;
                min-height: 100px;
                resize: none;
                border: none;
                border-bottom: 2px solid var(--color-primary);
                background-color: transparent;
                font-size: 1.6rem;
                padding:10px;
                font-weight: 400;
                font-family: var(--font-secondary);
                
                &::placeholder {
                    color: var(--color-black);
                }

                &:focus {
                    outline: none;
                    border-bottom: 2px solid var(--color-secondary);

                    &::placeholder {
                        color: var(--color-secondary);
                    }
                } 
            }

            & button {
                border: 1px solid var(--color-black);
                border-radius: 15px;
                background-color: var(--color-primary);
                color: var(--color-white);
                font-size: 2rem;
                font-weight: 600;
                font-family: var(--font-secondary);
                padding: 15px 30px;
                cursor: pointer;
                width: max-content;
                margin: 0 auto;
                transition: all 200ms ease;


                &:hover {
                    filter: brightness(1.05);
                }
            }
        }
    }
}