footer {
    background-color: var(--color-quinary);
    padding: 60px;

    // Breakpoint for responsive design
    @media screen and (max-width: 550px) {
        padding: 60px 40px;
    }

    & div.container {
        display: flex;
        column-gap: 60px;
        align-items: stretch;
        transition: all 200ms ease;

        // Breakpoint for responsive design
        @media screen and (max-width: 1130px) {
            flex-direction: column;
            gap: 20px;
        }

        @media screen and (max-width: 750px) {
            gap: 60px;
        }

        & div.col-one {
            display: flex;
            column-gap: 10px;
            
            // Breakpoint for responsive design
            @media screen and (max-width: 750px) {
                flex-direction: column;
                align-items: center;
                row-gap: 20px;
            }

            & a {
                & img {
                    width: 60px;
                    background: white;
                    border-radius: 5px;
                    padding: 7px;
                    align-self: flex-start;
                    border: 1px solid var(--color-black);

                    // Breakpoint for responsive design
                    @media screen and (max-width: 750px) {
                        margin-bottom: 20px;
                    }
                }
            }

            & div.slogan-footer {
                display: flex;
                flex-direction: column;
                gap: 10px;
                transition: all 200ms ease;

                // Breakpoint for responsive design
                @media screen and (max-width: 1130px) {
                    flex-direction: row;
                }

                @media screen and (max-width: 750px) {
                    flex-direction: column;
                    align-items: center;
                    row-gap: 0px;
                }

                & h4 {
                    font-size: 13rem;
                    font-weight: 500;
                    font-family: var(--font-primary);
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 0.9;
                    margin-top: -5px;
                    -webkit-text-stroke: 1px black;
                    color: var(--color-primary);
                    -webkit-font-smoothing: antialiased;
                    transition: all 200ms ease;

                    &:nth-child(1) {
                        color: var(--color-secondary);
                    } 
                    
                    // Breakpoint for responsive design
                    @media screen and (max-width: 1130px) {
                        &:nth-child(3) {
                            color: var(--color-secondary);
                        }
                    }

                    @media screen and (max-width: 950px) {
                        font-size: 9rem;
                    }
                }
            }
        }

        & div.col-two {
            display: flex;
            flex-direction: column;
            gap: 35px;

            @media screen and (max-width: 750px) {
                gap: 60px;
            }

            & > p {
                font-size: 1.8rem;
                font-weight: 400;
                font-family: var(--font-secondary);
                color: var(--color-black);
                transition: all 200ms ease;

                // Breakpoint for responsive design
                @media screen and (max-width: 950px) {
                    font-size:1.9rem;
                }

                @media screen and (max-width: 750px) {
                    display: none;
                }
            }

            & div.divide-line {
                width: 100%;
                height: 2px;
                background-color: var(--color-primary);
            }

            & div.container-data-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 20px;
                transition: all 200ms ease;

                // Breakpoint for responsive design
                @media screen and (max-width: 750px) {
                    flex-direction: column;
                    align-items: center;

                    row-gap: 20px;
                }

                & div.col-data {
                    width: calc(100% / 2 - 10px);
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    @media screen and (max-width: 750px) {
                        align-items: center;
                    }

                    & h5 {
                        font-size: 2rem;
                        font-weight: 400;
                        font-family: var(--font-secondary);
                        color: var(--color-primary);
                        margin-bottom: 15px;
                    }

                    & div.data-item {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                       

                        & img.social-icon {
                            width: 35px;
                        }

                        & a {
                            font-size: 1.6rem;
                            font-weight: 400;
                            font-family: var(--font-secondary);
                            color: var(--color-black);
                            text-decoration: none;
                            transition: all 200ms ease;

                            @media screen and (max-width: 550px) {
                                font-size: 1.4rem;
                            }

                            &:hover {
                                color: var(--color-primary);
                            }
                        }
                    }
                }
            }
        }
    }
}