section#partners {
    background-color:#f7f7f7;
    padding: 80px;

    // Breakpoint for responsive design
    @media screen and (max-width: 550px) {
        padding: 60px 40px;
    }

    & div.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 60px;

        & div.box-titles {
            display: flex;
            column-gap: 20px;
            transition: all 200ms ease;

            // Breakpoint for responsive design
            @media screen and (max-width: 700px) {
                flex-direction: column;
            }
            
            & h2 {
                font-size: 10rem;
                font-weight: 500;
                font-family: var(--font-primary);
                text-transform: uppercase;
                text-align: center;
                line-height: 1;
                color: var(--color-black);
                transition: all 200ms ease;

                // Breakpoint for responsive design
                @media screen and (max-width: 900px) {
                    font-size: 7rem;
                }

                // Breakpoint for responsive design
                @media screen and (max-width: 700px) {
                    font-size: 12rem;
                }

                // Breakpoint for responsive design
                @media screen and (max-width: 550px) {
                    font-size: 9rem;
                }

                &:nth-child(1){
                    color: var(--color-primary);
                }

                &:nth-child(2){
                    color: var(--color-tertiary); 
                }

                &:nth-child(3){
                    color: var(--color-secondary); 
                }
            }
        }

        & p{
            font-size: 2.2rem;
            font-weight: 500;
            font-family: var(--font-secondary);
            color: var(--color-black);
        } 

        & div.box-brands {
            display: flex;
            justify-content: space-between;
            column-gap: 60px;
            transition: all 200ms ease;

            // Breakpoint for responsive design
            @media screen and (max-width: 700px) {
                flex-direction: column;
                row-gap: 60px;
            }

            & img {
                width: 180px;
                filter: saturate(0);
                cursor: pointer;
                transition: all 200ms ease;

                // Breakpoint for responsive design
                @media screen and (max-width: 900px) {
                    width: 160px;
                }

                @media screen and (max-width: 700px) {
                    width: 250px
                }

                @media screen and (max-width: 550px) {
                    filter: saturate(1);
                }

                &:hover {
                    transform: scale(1.1);
                    filter: saturate(1);
                }
            }
        }
    }
}