section#services {
    background-color: var(--color-quinary);
    padding: 80px;

    // Breakpoint for responsive design
    @media screen and (max-width: 550px) {
        padding: 60px 30px;
    }

    & div.modal{
        transform: translateX(-150vw);
        display: flex;
        background: var(--color-quinary);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 300px;
        transition: all 250ms ease;

        // Breakpoint for responsive design
        @media screen and (max-width: 1100px) {
            padding: 200px;
        }
        @media screen and (max-width: 750px) {
            padding: 150px;
        }
        @media screen and (max-width: 550px) {
            padding: 60px;
        }

        & h3 {
            font-size: 1.5rem;
            font-family: var(--font-secondary);
            color: var(--color-black);
            border: 1px solid var(--color-black);
            padding:15px 30px;
            text-align: center;
            background: var(--color-white);
            border-radius: 200px ;
            margin-bottom: 30px;
        }

        & p {
            font-size: 5rem;
            font-family: var(--font-primary);
            color: var(--color-primary);
            margin-bottom: 20px;

            @media screen and (max-width: 550px) {
                font-size: 3rem;
            }
        }
        
        &.show-modal{
            transform: translateX(0);
        }
    }

    & div.container {
        display: flex;
        align-items: flex-start;
        column-gap: 30px;

        // Breakpoint for responsive design
        @media screen and (max-width: 950px) {
            flex-direction: column;
            row-gap: 30px;
        }

        & div.col {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            transition: all 200ms ease;

            // Breakpoint for responsive design
            @media screen and (max-width: 950px) {
                width: 100%;

                &.two {
                    flex-direction: column-reverse;
                }
            }

            & p.sub-title {
                font-size: 2.2rem;
                font-weight: 500;
                font-family: var(--font-secondary);
                color: var(--color-black);
                transition: all 200ms ease;

                &:nth-child(1) {
                    display: block;
                }

                &:nth-child(2) {
                    display: none;
                }

                // Breakpoint for responsive design
                @media screen and (max-width: 1100px) {
                    font-size: 1.9rem;
                }

                // Breakpoint for responsive design
                @media screen and (max-width: 950px) {
                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }

            & div.card-service {
                border: 1px solid var(--color-black);
                border-radius: 20px;
                width: 100%;
                min-height: 375px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 30px 60px;
                gap: 30px;
                box-shadow: 10px 10px 10px 0 rgba(10, 0, 0, 0.05);
                transition: all 200ms ease;

                &.color{
                    color: var(--color-white);
                    font-size: 8rem;
                    font-weight: 500;
                    font-family: var(--font-primary);
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 1;
                    transition: all 200ms ease;
                    
                    // Breakpoint for responsive design
                    @media screen and (max-width: 550px) {
                        font-size: 6rem;
                    }

                    &.one {
                        background-color: var(--color-secondary);
                    }

                    &.two {
                        background-color: var(--color-primary);
                    }
                }

                &.photo{
                    color: var(--color-tertiary);
                    font-size: 8rem;
                    font-weight: 500;
                    font-family: var(--font-primary);
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 1;
                    transition: all 200ms ease;
                    
                    // Breakpoint for responsive design
                    @media screen and (max-width: 550px) {
                        font-size: 6rem;
                    }

                    &.one {
                        background-image: url("../../src/media/img/photo_3.jpg");
                        background-size: cover;
                        background-position: center;
                    }

                    &.two {
                        background-image: url("../../src/media/img/photo_4.jpg");
                        background-size: cover;
                        background-position: center;
                    }
                }
            }

            & img.plus-icon {
                width: 35px;
                height: auto;
                cursor: pointer;
            }

            &.one {

                & div.box-title-services {
                    position: relative;

                    & h4 {
                        color: var(--color-tertiary);
                        font-size: 10rem;
                        font-weight: 500;
                        font-family: var(--font-primary);
                        text-transform: uppercase;
                        line-height: 1;
                        transition: all 200ms ease;

                        // Breakpoint for responsive design
                        @media screen and (max-width: 1100px) {
                            font-size: 8rem;
                        }
                        @media screen and (max-width: 550px) {
                            font-size: 7rem;
                        }
                    
                        & span {
                            color: var(--color-primary);
                        }
                    }
    
                    & img.arrow-icon {
                        position: absolute;
                        width: 45px;
                        height: 45px;
                        right: 0;
                        bottom: 20px;

                        // Breakpoint for responsive design
                        @media screen and (max-width: 550px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}